@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


:root{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

#main{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height:100vh;
}

.img{
    width:45vw;
    height:100vh;
}

.form{
    background-color: #000000;
    padding-left:3vw;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width:55vw;
    height:100vh;
    color:#ffffff
}

.dummy-text{
    font-size: 30px;
  
}

.labels{
    font-size: 25px;
    padding:10px;
    display:flex;
    flex-flow: row wrap;
    width:40%;
}

input{
    height:40px;
    width: 100vw;
    font-size: 0.7rem;
    background: transparent;
    color:#ffffff;
    font-size:20px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus{
   outline: none;
    border: 3px solid #FF69B4;
}

#submit{
    
    width: 50vw;
    height:6vh;
    cursor:pointer;
    border: 4px solid #ffffff;
}

#submit:hover{
    background-color: #FF1493;
}