@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


html, body{
    background-image: url("images/neontree.png");
    
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}



.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height:50px;
    
}

.nav-links a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.company-name{
    font-family: 'Climate Crisis', cursive;
    
}

.company-name:first-of-type{
    font-size: 25px;
}