@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

html{
    background-image: url(images/neontree.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height:100vh;
}

.company-name{
    font-size: 100px;
    font-family: 'Rubik Iso', cursive;
    font-weight: 2000;
}

.text-content{
    font-size: 50px;
    color:aliceblue;
    margin-top:100px;
}

 .buttons{
    display:flex;
    margin-top: 100px;
    font-size: 20px;
    
 }

 .form-in{
   margin-right:40px;
   
   

 }

 .form-up{
   margin-left: 40px;
   border-radius: 10px;
 }

 .signup{
    width:250px;
    padding:10px;
    font-size: 30px;
    margin-right: 30px;
    background-color:transparent;
    cursor: pointer;
   color:#ffffff;
   border: 3px solid #ffff;
   border-radius: 30px;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
 }

 .signin{
    font-size: 30px;
    background-color:transparent;
    width:250px;
    padding:10px;
    cursor: pointer;
   color:#ffffff;
   border: 3px solid #ffff;
   border-radius: 30px;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

 

 .signup:hover, .signin:hover{
    background-color: #000000;
    color:#ffffff;
    transition:0.02s;
 }